.Registration {
    background-image: url('../../../../public/imges/login.gif') !important;
    position: relative !important;
    background-size: cover !important;
    background-position: center !important;
}

.title {
    color: var(--main-color);
    margin-bottom: 35px;
}

.formGroup {
    position: relative;
    margin-bottom: 35px;
}

.formControl {
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid #515151;
    border-radius: 0%;
    background-color: transparent !important;
    margin: 5px auto;
}

.formControl:focus {
    outline: none !important;
    box-shadow: none !important;

}

.ul {
    position: relative;
    display: flex;
    gap: 25px;


}

.ul .li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.ul .li:hover {
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.ul .li::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

.ul .li:hover::before {
    opacity: 1;
}

.ul .li::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

.ul .li:hover::after {
    opacity: 0.5;
    
}

.ul .li .icon {
    color: #777;
    font-size: 1.75em;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.ul .li:hover .icon {
    transform: scale(0);
    color: #fff;
    transition-delay: 0s;
    
}

.ul .li span {
    position: absolute;
}

.ul .li .imgtitle {
    color: #fff;
    font-size: 15px;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
    padding-right: 10px;
}

.ul .li:hover .imgtitle {
    transform: scale(1);
    transition-delay: 0.25s;
}


.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 3px;
    width: 0;
    bottom: 1.2px;
    position: absolute;
    background: var(--main-color);
    transition: 0.2s ease all;
}

.formControl:focus~.bar:before,
.formControl:focus~.bar:after {
    width: 100% !important;
}

.invalidFeedback {
    display: block;
    color: red;
}

.formGroup label {
    position: absolute;
    right: 10px;
    top: 10px;
    transition: .3s;
}

.formControl:focus~label,
.formControl:not(:placeholder-shown)~label {
    top: -20px;
    color: var(--main-color);
}

.formGroup label {
    position: absolute;
    right: 10px;
    top: 10px;
    transition: .3s;
}

.input:focus .formGroup label,
.formGroup .active {
    top: -20px;
    color: var(--main-color);
}

.SignUp {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    background: transparent;
    color: rgb(61, 106, 255);
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;
}

.SignUp:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    transition: all 0.2s ease-out;
    color: white;
}

.SignUp:hover::before {
    animation: sh02 0.5s 0s linear;
}

.SignUp::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.SignUp:active {
    box-shadow: 0 0 0 0 transparent;
    border: 1px solid rgb(61, 106, 255) !important;
    color: rgb(61, 106, 255) !important;
    transition: box-shadow 0.3s ease-in;
}